management:
  security:
    enabled: false
  endpoints:
    web:
      exposure.include: '*'
spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
message: new updated message 4
